Package: com.eswick.osexperience
Name: OS Experience
Depends: mobilesubstrate, cc.tweak.libobjcipc, com.rpetrich.rocketbootstrap
Version: 1.0.1
Architecture: iphoneos-arm
Description: Window manager and multitasking switcher.
Maintainer: Evan Swick
Author: Evan Swick
Section: Tweaks
